<%- include('header') %>


    <% if(error) {  %>
        <h3>
            <hr>
            <%= error %>
        </h3>


        <% } else { %>

            <!-- <h3>O Resultado da Conversão foi: </h3> -->
            <br> <br>

            <div class="container text-center">

                <h3>U$
                    <%= quantidade %> na cotação de R$
                        <%= cotacao %> é igual: </h3>
                <br> <br>

                <div class="resultado">

                    R$
                    <%= conversao %>

                </div>


            </div>
            <% } %>
                <hr>

                <%- include('footer') %>